@charset "utf-8";
body {
	font-family: "Lucida Console", Monaco, monospace;
	background-color: #999;
}
#top { width:100%;
height:auto;
float:left;
background-color:#0C0;
font-size:50px;
}
#menu { width:100%;
height:50px;
float:left;
background-color:#0C0;
}
#Slider { width:100%;
height:auto;
float:left;
background-color:white;
}
#col50 { width:50%;
height:50%;
float:left;
background-color:#090;
}
#button {
 padding: 0;
 }
#button li {
 display: inline;
 }
#button li a {
 font-family: Arial;
 font-size: 11px;
 text-decoration: none;
 float: left;
 padding: 10px;
 background-color: #2175bc;
 color: #fff;
 }
#button li a:hover {
 background-color: #2586d7;
 margin-top: -2;
 padding-bottom: 12px;]
 }
i:hover {background-color:transparent;
color:#F00;
}